@model MurekkepWeb.Models.Category

@{
    ViewBag.Title = "Kategoriyi Sil";
}

<h2>Kategoriyi Sil</h2>

<h3>Bu kategoriyi silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            İsim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Açıklama
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Fotoğraf
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageAdres)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>
