@model MurekkepWeb.Models.Comment

@{
    ViewBag.Title = "Yorum Sil";
}

<h2>Yorum Sil</h2>

<h3>Bu yorumu silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            İçerik
        </dt>

        <dd>
            @Html.DisplayFor(model => model.icerik)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>*@

        <dt>
            Ürün Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>
