@model MurekkepWeb.Models.Product

@{
    ViewBag.Title = "Ürün Sil";
}

<h2>Ürün Sil</h2>

<h3>Bu ürünü silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Marka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            İsim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Fotoğraf
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageAdres)
        </dd>

        <dt>
            Kategori Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            Eklenme Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>
