@model MurekkepWeb.Models.Product

@{
    ViewBag.Title = "Ürün Detayları";
}

<h2>Ürün Detayları</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Marka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            İsim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Fotoğraf
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageAdres)
        </dd>

        <dt>
            Kategori Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            Eklenme Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.addDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
