@model IEnumerable<MurekkepWeb.Models.Product>

@{
    ViewBag.Title = "Ürünler";
}

<h2>Ürünler</h2>

<p>
    @Html.ActionLink("Yeni Ürün Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Marka
        </th>
        <th>
           İsim
        </th>
        <th>
           Eklenme Tarihi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
      

        <td>
            @Html.DisplayFor(modelItem => item.addDate)
        </td>
        <td>
            @if (@Session["username"] != null && @Session["username"].ToString().Equals("berkay"))
            {
                @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }) <br />
                @Html.ActionLink("Sil", "Delete", new { id = item.ID })<br />
            }
            @Html.ActionLink("Detaylar", "Details", new { id = item.ID })
        </td>
    </tr>
}

</table>
